<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeMapper">

	<resultMap id="noticeResultSet" type="notice">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_WRITER" property="noticeWriter" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="MODIFY_DATE" property="updateDate" />	<!--아직 미추가 -->
		<result column="NOTICE_STATUS" property="noticeStatus" />
		<result column="NOTICE_COUNT" property="noticeCount" />
		<result column="NOTICE_TYPE" property="noticeType" />
		<result column="DEPT_NAME" property="deptName" />
		<result column="NOTICE_REPLY_CNT" property="replyCount" />
		<result column="EMP_NO" property="empNo" />
		<result column="EMP_NAME" property="empName" />
		<result column="JOB_NAME" property="jobName" />
		<result column="NOTICE_ORIGIN_FILENAME" property="originFileName" />
		<result column="NOTICE_CHANGE_FILENAME" property="changeFileName" />
		<result column="NOTICE_LIKE_CNT" property="noticeLikeCount" />
		<result column="NOTICE_FILE_PATH" property="filePath" />
		<result column="NOTICE_ATT_CNT" property="attCount" />
	</resultMap>
	
	<resultMap id="noticeAttResultSet" type="noticeAttachment">
		<result column="NOTICE_FILE_NO" property="noticeFileNo" />
		<result column="NOTICE_ORIGIN_FILENAME" property="originFileName" />
		<result column="NOTICE_CHANGE_FILENAME" property="changeFileName" />
		<result column="NOTICE_FILE_PATH" property="filePath" />
		<result column="NOTICE_UPLOAD_DATE" property="uploadDate" />
		<result column="NOTICE_NO" property="noticeNo" />
	</resultMap>
	
	<resultMap id="noticeLikeResultSet" type="noticeLike">
		<result column="NOTICE_LIKE_NO" property="noticeLikeNo" />
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="EMP_NO" property="empNo" />
		<result column="NOTICE_LIKE" property="noticeLike" />
	</resultMap>
	
	<!-- ********************************************************* -->
	<!-- 1) 공지사항 리스트 전체 조회 -->
	<select id="noticeList" resultMap="noticeResultSet" parameterType="notice">
		SELECT
				DISTINCT N.NOTICE_TYPE,
				N.NOTICE_NO,
				N.NOTICE_TITLE,
				E.EMP_NAME,
				J.JOB_NAME,
				D.DEPT_NAME,
				N.CREATE_DATE,
				NVL(NN.NOTICE_ATT_CNT, 0) AS NOTICE_ATT_CNT,
				N.NOTICE_COUNT, NVL(RR.NOTICE_REPLY_CNT, 0) AS NOTICE_REPLY_CNT
	  	 FROM
	  			(
	      		SELECT NOTICE_NO, COUNT(*) AS NOTICE_REPLY_CNT
	        	  FROM REPLY
	       		 GROUP BY NOTICE_NO) RR,
                (
                SELECT NOTICE_NO, COUNT(*) AS NOTICE_ATT_CNT
                  FROM NOTICE_ATTACHMENT
                 GROUP BY NOTICE_NO) NN,
	       		NOTICE N, EMPLOYEE E, JOB J, DEPARTMENT D, NOTICE_ATTACHMENT AT
		 WHERE
		 		N.NOTICE_WRITER = E.EMP_NO
		   AND
		   		E.JOB_CODE = J.JOB_CODE
		   AND
		   		E.DEPT_CODE = D.DEPT_CODE
   		   AND
   		   		N.NOTICE_STATUS = 'Y'
		   AND
		   		N.NOTICE_NO = AT.NOTICE_NO(+)
		   AND
		   		N.NOTICE_NO = RR.NOTICE_NO(+)
           AND
           		N.NOTICE_NO = NN.NOTICE_NO(+)
		 ORDER
		    BY
		    	N.NOTICE_NO DESC
	</select>
	
	<!-- 2) 공지사항 전체 리스트 개수 조회 -->
	<select id="noticeListCount" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		NOTICE
  		 WHERE
  		 		NOTICE_STATUS = 'Y'
	</select>
	
	<!-- ********************************************************* -->
	<!-- 1) 공지사항 작성 -->
	<insert id="insertNotice" parameterType="notice">
		INSERT
		  INTO
			  	NOTICE
			  	(
	            NOTICE_NO,
	            NOTICE_WRITER,
	            NOTICE_TITLE,
	            NOTICE_CONTENT,
	            CREATE_DATE,
	            NOTICE_STATUS,
	            NOTICE_COUNT,
	            NOTICE_TYPE
	            )
	    VALUES
	    		(
	            SEQ_NOTICE_NO.NEXTVAL,
	            #{ empNo },
	            #{ noticeTitle },
	            #{ noticeContent },
	            SYSDATE,
	            DEFAULT,
	            DEFAULT,
	            #{ noticeType }
	            )
	</insert>
	
	<!-- 2) 공지사항 첨부파일 추가 -->
	<insert id="insertAttachment" parameterType="noticeAttachment">
		INSERT
		  INTO
		  		NOTICE_ATTACHMENT
	            (
	            NOTICE_FILE_NO,
	            NOTICE_ORIGIN_FILENAME,
	            NOTICE_CHANGE_FILENAME,
	            NOTICE_FILE_PATH,
	            NOTICE_UPLOAD_DATE,
	            NOTICE_NO
	            )
	     VALUES
	     		(
	            SEQ_FILE_NO.NEXTVAL,
	            #{ originFileName },
	            #{ changeFileName },
	            #{ filePath },
	            SYSDATE,
	            SEQ_NOTICE_NO.CURRVAL
				)
	</insert>
	
	<!-- ********************************************************* -->
	<!-- 1) 공지사항 상세보기 -->
	<select id="detailNotice" resultMap="noticeResultSet" parameterType="hashmap">
		SELECT
				N.NOTICE_NO,
				N.NOTICE_TITLE,
				N.CREATE_DATE,
				E.EMP_NAME,
				E.EMP_NO,
				D.DEPT_NAME,
				J.JOB_NAME,
				N.NOTICE_CONTENT,
				AT.NOTICE_ORIGIN_FILENAME,
				AT.NOTICE_CHANGE_FILENAME,
				AT.NOTICE_FILE_PATH,
		        NVL(L.NOTICE_LIKE_CNT, 0) AS NOTICE_LIKE_CNT
		  FROM (
		        SELECT NOTICE_NO, COUNT(NOTICE_NO) AS NOTICE_LIKE_CNT
		          FROM NOTICE_LIKE
		         GROUP BY NOTICE_NO) L,
		        NOTICE N, EMPLOYEE E, DEPARTMENT D, JOB J, NOTICE_ATTACHMENT AT
		 WHERE
		 		N.NOTICE_WRITER = E.EMP_NO
		   AND
		   		E.DEPT_CODE = D.DEPT_CODE
		   AND
		   		E.JOB_CODE = J.JOB_CODE
		   AND
		   		N.NOTICE_NO = AT.NOTICE_NO(+)
		   AND
		   		N.NOTICE_NO = L.NOTICE_NO(+)
		   AND
		   		N.NOTICE_NO = #{ noticeNo }
	</select>
	
	<!-- 2) 공지사항 좋아요 여부 체크 -->
	<select id="checkNoticeLike" resultType="_int">
   		SELECT
   				COUNT(*)
   		  FROM
   		  		NOTICE_LIKE
   		 WHERE
   		 		NOTICE_NO = #{ noticeNo }
   		   AND
   		   		EMP_NO = #{ empNo }	
	</select>
	
	<!-- 3) 공지사항 좋아요 취소(삭제) -->
	<delete id="deleteNoticeLike" parameterType="hashmap">
		DELETE
				NOTICE_LIKE
		 WHERE 
		 		NOTICE_NO = #{ noticeNo }
		   AND
		   		EMP_NO = #{ empNo }
	</delete>
	
	<!-- 4) 공지사항 좋아요 추가 -->
	<insert id="insertNoticeLike" parameterType="hashmap">
		INSERT
		  INTO
				NOTICE_LIKE
				(
				NOTICE_LIKE_NO,
				NOTICE_NO,
				EMP_NO,
				NOTICE_LIKE_DATE	<!-- 날짜컬럼 삭제해도 될 듯? -->
				)
				VALUES
				(
				SEQ_NOTICE_LIKE.NEXTVAL,
				#{ noticeNo },
				#{ empNo },
				SYSDATE
				)	
	</insert>
	
	<!-- 5) 공지사항 조회수 증가 -->
	<update id="increaseCount" parameterType="_int">
		UPDATE
				NOTICE
		   SET
		   		NOTICE_COUNT = NOTICE_COUNT + 1
		 WHERE
		 		NOTICE_NO = #{ noticeNo }
	</update>	
	
</mapper>
	