tr{
	border-bottom: 1px solid #808080;
}
.borderTable{
	border:1px solid #808080;
	height: 200px;
	width: 750px;
}
.jsp-include-position{position : relative;}
.calendar-inner{width:100%;}
.insertForm-rigth{float:right;}
.insertCalendarForm{display: inline-block;}
.jsp-include-position{position : relative;}
.insertForm-position-department{
	position : fixed;
	top: 170px;
	left:1200px;
}