#findPwd_area{
    width: 600px;
    margin: auto;
}

#findPwd_area>form{
    width: 100%;
    background-color: rgb(227, 95, 33);
    border-radius: 5px;
    
}

#findPwd_area fieldset{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    padding: 5px 0;
}

.form_wrap{
    width: 450px;
    margin: auto;
    padding: 20px 0;
}
.form_wrap>div{
    margin-bottom: 20px;
}

.btn_area{
    width: 100%;
    text-align: center;
}
.btn_area>button{
    width: 48%;
    margin: 0;
    margin-top: 20px;
}
.btn_area>button[type=reset]{
    float: left;
}
.btn_area>button[type=submit]{
    float: right;
}
.email_box{
    position: relative;
    margin-bottom: 10px;
}
.email_box>button{
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}