*{margin: 0; padding: 0; box-sizing: border-box;}

.outer{
    width: 400px;
    margin: auto;
}
#jojigdo>h2{
    display: inline-block;
    text-align: center;
}
#jojigdo>span{
    display: inline-block;
    padding-left: 10px;
}

#jojigdo_chart{
    margin-top: 10px;
}
#jojigdo_chart thead>tr{
    width: 50%;
}
#jojigdo_chart tbody{
    width: 50%;
}
#jojigdo_chart>table th, #jojigdo_chart>table td{
    text-align: center;
}
#myModal{
    width: 600px;
    margin: auto;
}
.modal-content{
    width: 400px;
    margin: auto;
}

.modal-body>input{
    height: 15px;
}
.modal-footer{
    border: none;
}
.modal-footer>#reset_btn{
    float: left;
    width: 50%;
    margin: 0;
}
.modal-footer>button[type=submit]{
    float: right;
    width: 50%;
    margin: 0;
}