@charset "UTF-8";
.pp-content .h-title {
	margin-bottom: 16px;
    font-size: 16pt;
    font-weight: bold;
}

.pp-content .toolbar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.pp-content .pp-content-message {
	text-align: center;
}

.pp-content .selectCount {
	float: right;
	color: #4A4A4A;
    margin-bottom: 12px;
}

.pp-content .pp-content-message .selectCount .count {
	color: #6C79E0;
}

.pp-content .pp-content-message .tableBody{
	font-size: 14px;
}

.pp-content .pp-content-message .tableBody .tb-title-tr{
    background-color: #6C79E0;
    color: white;
}

.pp-content .pp-content-message .tableBody .tb-delte-title-tr{
    background-color: #DC3545;
    color: white;
}

#pagingArea{
	margin-top: 100px;
}

#storeBtn{
	background-color: #6C79E0;
}
.selectCount{
	font-size: 14px;
}

.td-fa-envelope{
	color: #E35F21;
}

.td-fa-star{
	color: #F1C40F
}



