.mycalendar_input{
	border: none;
	border-radius: 10px;
}
.mycalendar_input2{
    border: 1px solid rgb(201, 196, 196);
    border-radius: 10px;
}
.calendarWidth{width:600px;}
.mycalendar_width2{width: 22%;}
.mycalendar_width3{width: 45%;}
.mycalendar_width{width: 100%;}
.calendarTextarea{
    resize: none;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
.calendar-outer{width:100%}
.calendar-inner{width:100%;}
.insertForm-rigth{float:right;}
.insertCalendarForm{display: inline-block;}
.jsp-include-position{position : relative;}
.insertForm-position{
	position : fixed;
	top: 200px;
	left:1200px;
}
.btn-rigth{float:right;}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
    vertical-align:middle;
}
.title-align{
	position: relative;
	margin-bottom:0px;
	margin-left:30px;
	padding-left:18px;
	padding-top: 15px;
	padding-bottom:10px;
	background-color: rgb(240, 239, 239);
    border-radius: 20px 20px 0px 0px;
    width:220px;
    z-index:1;
}
.title-back-color{
	position: absolute;
	background-color: rgb(167, 167, 167);
	top:93px;
    left:530px;
    width:50px;
    border-radius: 0px 20px 0px 0px;
    height:56px;
}
.switch>input {display:none;}
.slider {
	position: absolute;
	cursor: pointer;
    top: 5px;
    left: 10px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    top: 2px;
    left: 3px;
    right: 0;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: rgb(227, 98, 33);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(227, 98, 33);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  
p {
	margin:5px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
}