@charset "UTF-8";

/* 헤더 관련 */
.pp-content .h-title {
	margin-bottom: 16px;
    font-size: 20pt;
    font-weight: bold;
}

.pp-content .toolbar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.pp-content .selectCount {
	float: right;
	color: #4A4A4A;
    margin-bottom: 12px;
}

.pp-content .pp-content-notice .selectCount .notice-count {
	color: #6C79E0;
}

/* 테이블 관련 */
.pp-content .pp-content-notice #tb-notice {
	text-align: center;
	font-size: 14px;
}

.pp-content .pp-content-notice .tableBody .tb-title-tr{
    background-color: #6C79E0;
    color: white;
}

.pp-content .pp-content-notice .tb-notice tbody, .fa-star, .fa-heart, .checkbox{
	cursor: pointer;
}

.pp-content .pp-content-notice .table td {
	padding: 6px 0!important;
}

#pagingArea{
	margin-top: 100px;
}
	
/* 상세보기 관련 */
.profile-notice{
	border-radius: 50%;
	width: 50px;
}

#editor, #readEditor{
	resize: none;
	background-color: white;
	height: 400px;
	overflow: auto;
}

.ck-editor__editable {
	height: 400px; 
}
.ck-content {
	font-size: 14px;
	min-height: 400px;
}
	
}
.ck-editor__editable p {
	margin: 0
}

.notice-check{
	float: right;
}

.n-write-date{
	color: #a4a4a4;
    font-size: 14px;
    margin-left: 3px;
}
.notice-profile {
	width:100%;
	display:flex;
	justify-content:space-between;
	padding-bottom: 12px;
	margin: 12px 0;
	border-bottom: 1px solid gray;
}

.notice-profile > div {
	display: flex;
}

.notice-profile .profile-img {
	width: 50px;
	height: 50px;
}

.notice-profile .profile-info {
	width: 500px;
    margin-left: 8px;
}

.notice-profile .profile-info p {
	margin-top: 0;
	margin-bottom:0;
}

.notice-profile .notice-like i{
	color:#e71313;
	line-height:48px;
}
.upload-name{
	font-size: 14px;
}
/* 글작성 관련 */
.fa-circle-minus{
	color: #e71313;
	cursor: pointer;
}

.notice-file {
	margin: 12px 0;
}
.notice-file span {
	display: block;
	margin-bottom:4px;
}

.notice-file a {
	border: none;
	display: block;
	padding-left: 4px;
}

.upload-name {
	margin-left: 4px ;
}