@charset "UTF-8";
.toolbar {
	display: flex;
	justify-content: space-between;
}

.table td {
	padding: 6px 0!important;
}

.ck-content {
	min-height: 400px;
}



.fa-circle-minus{
	color: #e71313;
	cursor: pointer;
}
.notice-profile {
	width:100%;
	display:flex;
	justify-content:space-between;
	padding-bottom: 12px;
	margin: 12px 0;
	border-bottom: 1px solid gray;
}

.notice-profile > div {
	display: flex;
}

.notice-profile .profile-img {
	width: 50px;
	height: 50px;
}

.notice-profile .profile-info {
	width: 500px;
    margin-left: 8px;
}

.notice-profile .profile-info p {
	margin-top: 0;
	margin-bottom:0;
}

.notice-profile .notice-like i{
	color:#e71313;
	line-height:48px;
}

.notice-file {
	margin: 12px 0;
}
.notice-file span {
	display: block;
	margin-bottom:4px;
}

.notice-file a {
	border: none;
	display: block;
	padding-left: 4px;
}

.upload-name {
	margin-left: 4px ;
}
/* =================================================== */



.pp-content .h-title {
	margin-bottom: 16px;
    font-size: 16pt;
    font-weight: bold;
}

.pp-content .pp-content-notice {
	text-align: center;
}

.pp-content .pp-content-notice .tb-notice tbody, .fa-star, .fa-heart, .checkbox{
	cursor: pointer;
}
.pp-content .selectCount {
	float: right;
	color: #4A4A4A;
    margin-bottom: 12px;
}

.pp-content .pp-content-notice .selectCount .count {
	color: #6C79E0;
}

.pp-content .pp-content-notice .tableBody{
	font-size: 14px;
	font-weight: bold;
}

.pp-content .pp-content-notice .tableBody .tb-title-tr{
    background-color: #6C79E0;
    color: white;
}

.pp-content .pp-content-notice .tableBody .tb-delte-title-tr{
    background-color: #DC3545;
    color: white;
}

#editor, #readEditor{
	resize: none;
	background-color: white;
	height: 400px;
	overflow: auto;
}


#pagingArea{
	margin-top: 100px;
}

#profile-notice{
	border-radius: 50%;
	width: 50px;
}

.filebox .upload-name {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #ced4da;
    width: 87%;
}
.filebox label {
	display: inline-block;
    padding: 6px 10px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    margin: 0px;
    height: 32px;
    width: 72px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
