<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.porong.employee.model.vo.Employee" alias="emp"/>
		<typeAlias type="com.kh.porong.calendar.model.vo.ScheduleVO" alias="schedule"/>
		<typeAlias type="com.kh.porong.calendar.model.vo.MeetingRoomVO" alias="meetingRoom"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/employee/emp-mapper.xml"/> 
		<mapper resource="/mappers/calendar/schedule-mapper.xml"/> 
		<mapper resource="/mappers/calendar/meetingRoom-mapper.xml"/> 
	</mappers>

</configuration>
